img.img-thumbnail {
    position: relative;
    height: 150px;
    min-width: 150px !important;
    margin-bottom: 2px;
}

.nv-file-over {
    border: dotted 3px red;
}

input[type = file] {
    color: transparent;
}

.not-approved {
    opacity: 20%;
}

.img-wrapper {
    position: relative
}

.img-text {
    position: absolute;
    bottom: 30%;
}